.container {
    display: flex;
    flex-direction: column;
} 

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    height: 80vh;
    padding: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.topic {
    background-color: #D3B1C2;
    padding: 2rem;
    margin: 1rem;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.topic p {
    font-size: 1.5rem;
    color:#F0F0F0;
    font-family:sans-serif;
    text-align: justify;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
